.env
.vscode
__pycache__/
**/__pycache__/

migrations/
.DS_Store

env/
*.pyc
*.sqlite3
*.sqlite3*
db.sqlite3
dist/
build/
*.egg-info/
run/
logs/
/static
*.pyo
*.pyd
*.pyc
*.sql
*.log
*.json
*.csv
media/
staticfiles/
``
# OS or Editor folders
.cache
.project
.settings
.tmproj
.idea
